@page "/order/{Id:guid}"
@inherits Delivery.Web.App.Pages.PageBase

<h1>Order Detail</h1>

@if(Order == null)
{
    return;
}

<div class="row">
    <div class="col-2">
        <p>@Order.Restaurant.Name</p>
        <p>@Order.Note</p>
    </div>
</div>
<br/>

<div class="row">
    <OrderEditForm Id="@Id" OnModification="NavigateBack"></OrderEditForm>
</div>
